.weatherData{
    margin-top: 20px;
}

.todaysDate {
    color: grey;
    font-size: 14px;
}

.todaysForecastRow {
    height: 100px;
    color: grey;
}

.todaysForecastTemperature {
    font-size: 30px;
}

.forecast {
    display: flex;
}